@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("../Assets/Montserrat/Montserrat-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  scrollbar-width: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

/* @media (prefers-color-scheme: light)  */
:root {
  color: #213547;
  background-color: #ffffff;
}

a:hover {
  color: #747bff;
}

button {
  background-color: #f9f9f9;
}

.home {
  height: 100vh;
  width: 100%;
  background: url("../assets/SENATE_BUILDING.jpeg") no-repeat center;
  background-size: cover;
  background-color: #4A0F3A;
  /* opacity: 0.75; */
  position: relative;
}

.home::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(74, 15, 58, 0.75);
}